<div class="modal-header"><h3>{{original_group.name==undefined?'Create new group' : 'Edit group '+ original_group.name}}</h3></div>
<div class="modal-body">
    <div name="form" class="form-group">
        <label>group name:</label>
        <input id="group_app/service/prompt/name_txt" name="name" ng-model="group.name" type="text" focus-me={{true}} required>
        <label class="error" ng-show="form.name.$error.required">required</label>
    </div>

    <button id="group_app/service/prompt/add_btn" ng-click="add_sp()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
    <table ng-hide="group.sp_lst.length == 0" class="table table-hover table-bordered table-condensed table-striped">
        <tr>
            <th>product</th>
            <th>remove</th>
        </tr>

        <tr ng-repeat="sp in group.sp_lst">
            <td>{{sp.name}}</td>
            <td class="alncenter"><button ng-click="remove_sp(sp)"class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
    </table>
    <pre ng-show="group.sp_lst.length == 0">there is no product in this group</pre>
</div>
<div class="modal-footer">
    <button id="group_app/service/prompt/cancel_btn" ng-click="cancel()" class="btn btn-warning">cancel</button>
    <button ng-disabled="is_unchange()" ng-click="reset()" class="btn btn-primary">reset</button>
    <button id="group_app/service/prompt/ok_btn" ng-disabled="form.$invalid || is_unchange()" ng-click="ok()" class="btn btn-success">ok</button>
</div>
