html,body {
  margin: 0 auto;
  padding: 0 auto;
  color: #4d4d4d;
}

.error {border: solid 2px #FF0000;}
.ui-widget-overlay
{
  /*control darkness of overley*/
  opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=50) !important;
  background: rgb(50, 50, 50) !important;  This will make it darker
}

.form-horizontal .form-group {
  /*control space between form element vertically */
  margin-bottom: 4px;
}

.navbar-nav > div{
  /*sku and name search in nav bar move closer to the left*/
  padding-left:0px;
  padding-right:0px;
}

.navbar {
  /*element below nav bar have a little space*/
  margin-bottom: 0;
}

.table-side-by-side{ 
  float : left;
  margin-right: 10px;
  width: auto;
}

.alnright{
  text-align: right;
}
.alncenter{
  text-align: center;
}

.btn-float-left{
  float: left;
}

.xlg-dialog .modal-dialog {
    width :60%;
    min-width: 750px;
}

.clear {
  /* i use this to clear floating side by side div*/
    clear: both;
}

.indent_40px { margin-left: 40px; }

table.sale_shortcut_tbl td { min-width: 120px; height: 75px}
.sale_shortcut_parent_selected {background-color:#CFF5B5;}
.sale_shortcut_parent_unselected {background-color:#FFFFFF;}
