<h3>detail</h3>
<table class="table table-hover table-bordered table-condensed table-striped">
    <tr>
        <th>name</th>
        <th>percent</th>
    </tr>
    <tr ng-repeat="name_stat in suggest_extra_name|orderBy:'-percent'">
        <td>{{name_stat.value}}</td>
        <td>{{name_stat.percent}}%</td>
    </tr>
</table>

<table ng-hide="suggest_extra_crv.length === 0" class="table table-hover table-bordered table-condensed table-striped">
    <tr>
        <th>crv</th>
        <th>percent</th>
    </tr>
    <tr ng-repeat="crv_stat in suggest_extra_crv|orderBy:'-percent'">
        <td>{{crv_stat.value|currency}}</td>
        <td>{{crv_stat.percent}}%</td>
    </tr> 
</table>
<table class="table table-hover table-bordered table-condensed table-striped">
    <tr>
        <th class="info" ng-click="column_click('get_cost()')">cost <span ng-class="get_sort_class('get_cost()')"></span></th>
        <th class="info" ng-click="column_click('price')">price <span ng-class="get_sort_class('price')"></span></th>
        <th class="info" ng-click="column_click('get_markup()')">markup% <span ng-class="get_sort_class('get_markup()')"></span></th>
        <th ng-show="is_sale_data" class="info" ng-click="column_click('sale')">sale <span ng-class="get_sort_class('sale')"></span></th>
        <th ng-show="is_sale_data" class="info" ng-click="column_click('get_profit()')">profit <span ng-class="get_sort_class('get_profit()')"></span></th>
    </tr>
    <tr 
        ng-repeat="sp in (network_product.get_sp_lst()|orderBy:cur_sort_column:cur_sort_desc|emptyToEnd:cur_sort_column)" 
        ng-class="sp.store_id === share_setting.STORE_ID ? 'success' : ''" 
    >
        <td class="alnright">{{sp.get_cost()|currency}}</td>
        <td class="alnright">{{sp._get_b4_tax_price()|currency}}</td>
        <td class="alnright">{{sp.get_markup()}}</td>
        <td class="alnright" ng-show="is_sale_data">{{sp.sale}}</td>
        <td class="alnright" ng-show="is_sale_data">{{sp.sale * (sp._get_b4_tax_price() - sp.get_cost()) | currency | not_show_zero}}</td>
    </tr>

</table>
