{% extends 'base_regular_user.html' %}


{% block content %}
    
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/app/product/product.css" />

    <script data-main = "{{ STATIC_URL }}js/app/product/product_entry.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>
    <!-- // <script data-main = "{{ STATIC_URL }}js/app/product/product_entry__min__.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script> -->

    <ul class="menu">
        <li class="menu_item">
            <a href="#">setting</a>
            <ul>
                <li id='tax_menu'><a href='#'>tax</a></li>
                <li id='group_menu'><a href='#'>group</a></li>                 
                <li id='sale_shortcut_menu'><a href='#'>shortcut</a></li>
                <li id='mix_match_menu'><a href='#'>mix match</a></li>
            </ul>
        </li>
        <li class="menu_item">
            <a href="#">report</a>
            <ul>
                <li id='date_range_report_menu'><a href='#'>date range</a></li>
                <li id='receipt_report_menu'><a href='#'>receipt</a></li>                 
            </ul>
        </li>        
    </ul>

<!--     <div id='cssmenu'>
        <ul>
           <li><a href='#'><span>pos connect</span></a></li>
           <li class='has-sub'><a href='#'><span>setting</span></a>
              <ul>
                 <li id='tax_menu'><a href='#'><span>tax</span></a></li>
                 <li id='group_menu'><a href='#'><span>group</span></a></li>                 
                 <li id='sale_shortcut_menu'><a href='#'><span>shortcut</span></a></li>
                 <li id='mix_match_menu'><a href='#'><span>mix match</span></a></li>
              </ul>
           </li>
           <li class='has-sub last'><a href='#'><span>report</span></a>
              <ul>
                 <li id='date_range_report_menu'><a href='#'><span>date range</span></a></li>
                 <li id='receipt_report_menu'><a href='#'><span>receipt</span></a></li>
              </ul>
           </li>
        </ul>
    </div> -->

    <div id='wrap'>
        <input id='sku_txt' type='text'/>
        <input id='sku_btn' type='button' value="sku"/>
        <label id="sku_err_lbl"></label>
        <br/>
        <input id='name_txt' type='text'/>
        <input id='name_btn' type='button' value="name"/>
        <label id="name_err_lbl"/>
        <table id=product_tbl border="1"></table>
    </div>

    <div id="select_product_option_dialog">
        <input type="button" id = "product_option_create_new_btn" value = 'create new product'>
        <table id=select_product_option_tbl border="1"></table>
    </div>

    <script type="text/javascript">
        var STATIC_URL = "{{STATIC_URL}}";
        var STORE_ID = Number("{{STORE_ID}}");
        var COUCH_SERVER_URL = "{{COUCH_SERVER_URL}}";
        localStorage.setItem('tax_rate',Number("{{TAX_RATE}}"));
    </script>

{% endblock content %}