{% extends 'base_regular_user.html' %}


{% block content %}

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/app/store_product/sp_search.css" />





    <input id='sku_txt' type='text'/>
    <input id='sku_btn' type='button' value="sku"/>
    <label id="sku_err_lbl"></label>
    <br/>
    <input id='name_txt' type='text'/>
    <input id='name_btn' type='button' value="name"/>
    <label id="name_err_lbl"/>





    <table id=product_tbl border="1"></table>





    <div id="store_product_prompt_dialog" title="Product not found. Enter info to create">
        <div id='suggest_product_lst'></div>

        <label for="product_name_txt">Product:</label>
        <input type="text" id = "product_name_txt">
        <br>

        <label for="product_price_txt">Price:</label>
        <input type="text" id = "product_price_txt">
        <br>

        <label for="product_crv_txt">Crv:</label>
        <input type="text" id = "product_crv_txt">
        <br>

        <label for="product_taxable_check">Taxable:</label>
        <input type="checkbox" id = "product_taxable_check">
        <br>

        <label for="product_sale_report_check">Sale report:</label>
        <input type="checkbox" id = "product_sale_report_check">
        <br>

        <label for="product_type_txt">Type:</label>
        <input type="text" id = "product_type_txt">
        <br>

        <label for="product_tag_txt">Tag:</label>
        <input type="text" id = "product_tag_txt">
        <br>

        <label for="product_sku_txt">Sku:</label>
        <input type="text" id = "product_sku_txt">
        <br>
    </div>





    <script type="text/javascript">
        var STATIC_URL = "{{STATIC_URL}}"
        var STORE_ID = "{{STORE_ID}}"
        var COUCH_SERVER_URL = "{{COUCH_SERVER_URL}}"
    </script>





    <script data-main = "{{ STATIC_URL }}js/app/sp_search/search.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>


{% endblock content %}