{% extends 'base_regular_user.html' %}
{% load get_prod_bus_assoc %}
{% is_approve_product %}

{% block content %}
    <form id="sku" method="GET">
        <input type="text" name="sku" />
        <button type="submit">sku</button>
        {% if sku_error %} {{ sku_error }} {% endif %}
    </form>

    <form id="name" method="GET">
        <input type="text" name="name" />
        <button type="submit">name</button>
        {% if name_error %} {{ name_error }} {% endif %}
    </form>
    
    {% if product_lst %}
        <table border="1">
            <tr>
                <td>name</td>
                <td>action</td>
            </tr>
            
            {% for p in product_lst %}
                <tr>
                    {# PRODUCT NAME #}
                    <td>{{p}}</td>
                    
                    {# ACTION #}
                    <td>
                        {% if name_str %}
                            <a href="{% url 'store_product:product_detail' p|get_prod_bus_assoc_id:cur_login_store %}">info</a>    
                        {% elif sku_str %}
                            {% if p|get_prod_bus_assoc_id:cur_login_store %}
                                <a href="{% url 'store_product:product_detail' p|get_prod_bus_assoc_id:cur_login_store %}">info</a>
                            {% else %}
                                <a href="{% url 'store_product:add_assoc' p.id sku_str %}">add</a>
                            {% endif %}
                        {% else %}
                            UN-REACHABLE CODE
                        {% endif %}    
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    {% if not product_lst %}
        <p>
            {% if sku_str and not sku_error %}
                sku not found. Add new product of sku: <a href='{% url "store_product:add_product_sku" sku_str %}'>{{sku_str}}</a> ?
            {% elif name_str %}
                no result for {{name_str}}
            {% endif %}
        </p>
    {% endif %}
    
    <p>
        <a href= "{% url 'store_product:add_product' %}">add new product</a>
    </p>
    
{% endblock content %}