{% extends 'base_regular_user.html' %}

{% block content %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/app/mix_match/mix_match.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.min.css" />

    <!-- // <script data-main = "{{ STATIC_URL }}js/app/mix_match/mix_match_entry.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script> -->
    <script data-main = "{{ STATIC_URL }}js/app/mix_match/mix_match_entry__min__.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>

    <h2>mix match</h2>
    <input type='button' id='add_mix_match_btn' value='add'>
    <table id='mix_match_tbl' border='1'></table>

    <script>
        var STATIC_URL = "{{STATIC_URL}}"
        var MY_MIX_MATCH_LST = {{mix_match_lst|safe}};
        var MY_TAX_RATE = {{tax_rate}};
    </script>


    <div id="product_search_dlg" title "search product">
        <label for='product_search_txt'>search</label>
        <input type='text' id = 'product_search_txt'>

        <table id='product_search_tbl' border='1'></table>
    </div>

    <div id="mix_match_prompt_dlg">

        <label for="mix_match_name_txt">name:</label>
        <input type="text" id = "mix_match_name_txt">
        <br>

        <label for="mix_match_qty_txt">qty:</label>
        <input type="text" id = "mix_match_qty_txt">
        <br>

        <label for="mix_match_unit_discount_txt">unit discount $:</label>
        <input type="text" id = "mix_match_unit_discount_txt">
        <br>

        <label for="mix_match_total_price_txt">total price:</label>
        <input type="text" id = "mix_match_total_price_txt" readonly>
        <br>    

        <br>
        <label for="mix_match_child_tbl"></label>
        <input type='button' id = 'mix_match_add_child_btn' value='add'>
        <table id='mix_match_child_tbl' border='1'></table>
        <br>
    </div>

    
    

{% endblock content %}