{% extends 'base_regular_user_without_menu.html' %}

{% block content %}

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app/sale/sale.css">
    <script data-main = "{{ STATIC_URL }}js/app/sale/sale_entry.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>
    <!-- // <script data-main = "{{ STATIC_URL }}js/app/sale/sale_entry__min__.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script> -->
    
    <script type="text/javascript">
        var STATIC_URL = "{{STATIC_URL}}"
        var STORE_ID = Number("{{store_id}}")
        var COUCH_SERVER_URL = "{{couch_server_url}}"
        var ROW_COUNT = {{ROW_COUNT}}
        var COLUMN_COUNT = {{COLUMN_COUNT}}
        var MY_SHORTCUT_LST = {{shortcut_lst|safe}};
        var MY_MM_LST = {{mix_match_lst|safe}};
    </script>


    <div id="wrap">
        <div id="header">my header</div>
        <div id="shortcut">  <table id = "shortcut_tbl" border="1"></table> </div>
        <div id="scan"> 
            
            <input id="scan_text" onClick="this.select();"  placeholder="sku" autofocus>
            <!-- <input id="scan_text" onfocus="this.select();" onmouseup="return false;"  placeholder="sku" autofocus> -->
            <button id="product_search_btn" type="button">search</button>
            <button id="non_inventory_btn" type="button">non inventory</button>
            <button id="push_receipt_btn" type="button">receipt pusher</button>
            <button id="void_btn" type="button">void</button>
            <button id="total_button" type="button">total</button>
            <table id = "sale_table" border="1"></table>
        </div>
        <div id="footer"> my footer </div>
    </div>


    <div id="select_product_option_dialog">
        <input type="button" id = "product_option_create_new_btn" value = 'create new product'>
        <table id=select_product_option_tbl border="1"></table>
    </div>


    <div id="store_product_prompt_dialog">
        <label for="product_name_txt">Product:</label>
        <input type="text" id = "product_name_txt">
        <br>
        <label for="product_price_txt">Price:</label>
        <input type="text" id = "product_price_txt">
        <br>
        <label for="product_crv_txt">Crv:</label>
        <input type="text" id = "product_crv_txt">
        <br>
        <label for="product_taxable_check">Taxable:</label>
        <input type="checkbox" id = "product_taxable_check">
        <br>
        <label for="product_sale_report_check">Sale report:</label>
        <input type="checkbox" id = "product_sale_report_check">
        <br>
        <label for="product_type_txt">Type:</label>
        <input type="text" id = "product_type_txt">
        <br>
        <label for="product_tag_txt">Tag:</label>
        <input type="text" id = "product_tag_txt">
        <br>
        <label for="product_vendor_txt">Vendor:</label>
        <input type="text" id = "product_vendor_txt">
        <br>        
        <label for="product_cost_txt">Cost:</label>
        <input type="text" id = "product_cost_txt">
        <br>      
        <label for="product_buydown_txt">Buydown:</label>
        <input type="text" id = "product_buydown_txt">
        <br>                      
        <label for="product_sku_txt">Sku:</label>
        <input type="text" id = "product_sku_txt">
        <br>
        <input type="button" id = "sku_management_btn" value = 'manage sku'>
        <br>        
    </div>


    <div id="non_inventory_prompt_dialog">
        <label for="non_inventory_price_txt">Price:</label>
        <input type="text" id = "non_inventory_price_txt">
        <br>
        <label for="non_inventory_description_txt">Description:</label>
        <input type="text" id = "non_inventory_description_txt" value='non inventory'>
        <br>
    </div>


    <div id="product_search_dlg" title "search product">
        <label for='product_search_txt'>search</label>
        <input type='text' id = 'product_search_txt'>

        <table id='product_search_tbl' border='1'></table>
    </div>    

{% endblock content %}

