{% extends 'base_regular_user.html' %}

{% block content %}


    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.min.css" />
    
    <!-- // <script data-main = "{{ STATIC_URL }}js/app/sale_report/report_by_day_entry.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script> -->
    <script data-main = "{{ STATIC_URL }}js/app/sale_report/report_by_day_entry__min__.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>
    

    <h2>sale report by day</h2>

    <label for="from_date_txt">from</label><input id='from_date_txt' type='text'>
    <label for="to_date_txt">to</label><input id='to_date_txt' type='text'>
    <input id='refresh_btn' type='button' value="refresh">
    <table id='report_tbl' border='1'></table>

    

    <script>
        var STATIC_URL = "{{STATIC_URL}}"
        var MY_STORE_ID = Number("{{store_id}}")
        var MY_COUCH_SERVER_URL = "{{couch_server_url}}"
    </script>

{% endblock content %}
