{% extends 'base_regular_user.html' %}

{% block content %}
    <link rel="stylesheet" href="/static/css/jquery-ui-themes-1.10.4/themes/smoothness/jquery-ui.css">

    <h2>sale report by day</h2>

    <label for="from_day_txt">from</label><input id='from_day_txt' type='text'>
    <label for="to_day_txt">to</label><input id='to_day_txt' type='text'>
    <input id='refresh_btn' type='button' value="refresh">
    <table id='report_tbl' border='1'></table>

    <script data-main = "/static/js/app/sale_report/report_by_day_init.js" src="/static/js/lib/require/require.js"></script>


{% endblock content %}
