#group_prompt_dlg{display: None;}
#product_search_dlg{display: None;}
#group_action_prompt_dialog{display: None;}

.error {border: solid 2px #FF0000;}

.ui-widget-overlay
{
  opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=50) !important;
  background: rgb(50, 50, 50) !important;  This will make it darker
}