
<!-- 
    PRECONDITION FOR NETWORK_PRODUCT PARTIAL : scope must include these variable:

    $scope.network_product
    $scope.network_product_summary_lbl_class
    $scope.network_product_summary_value_class
    $scope.suggest_extra_crv
    $scope.suggest_extra_name
    $scope.is_sale_data // warning, this variable is quite messy.  For more info about this variable read network_product_api inside product project. this variable is a visual help to see if we include sale data or not in network_product info. Eventhough it can be calculated by searching to see if we have sale data embeded in network_product info or not, we still need this variable in case we don't have any sale data and want to display it as empty columns. in the case of sku_not_found_handler, network_product info does not contain sale data which is not the concern of sku_not_found_handler, we don't want to display this column.
 -->

<div>
    <div class="col-md-5">
        <div ng-include="$root.GLOBAL_SETTING.partial_url.product.network_product.summary"></div>
    </div>
    
    <div class="col-md-7">
        <div ng-include="$root.GLOBAL_SETTING.partial_url.product.network_product.detail"></div>
    </div>
    
    <div class="clear"></div>
</div>