{{ form.non_field_errors }}

{# NAME #}
<div class="fieldWrapper">
    {{ form.name.errors }}
    <label for="id_override_name">Name:</label>
    {{ form.name }}
</div>

{# PRICE #}
<div class="fieldWrapper">
    {{ form.price.errors }}
    <label for="id_price">Price:</label>
    {{ form.price }}
</div>

{# CRV #}
<div class="fieldWrapper">
    {{ form.crv.errors }}
    <label for="id_crv">crv</label>
    {{ form.crv }}
</div>

{# IS TAXABLE #}
<div class="fieldWrapper">
    {{ form.isTaxable.errors }}
    <label for="id_isTaxable">Taxable?</label>
    {{ form.isTaxable }}
</div>

{# DEPARTMENT #}
<div class="fieldWrapper">
    {{ form.department.errors }}
    <label for="id_department">Department:</label>
    {{ form.department }}
</div>



{# IS TAX REPORT #}
<div class="fieldWrapper">
    {{ form.isTaxReport.errors }}
    <label for="id_isTaxReport">Tax report?</label>
    {{ form.isTaxReport }}
</div>

{# IS SALE REPORT #}
<div class="fieldWrapper">
    {{ form.isSaleReport.errors }}
    <label for="id_isSaleReport">Sale report?</label>
    {{ form.isSaleReport }}
</div>
