<html>
<head>
    <title>
        Welcome to Pos Connect
    </title>
</head>
<body>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/share.css">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#product-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">welcome to pos_connect</a>
            </div>

            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}
                    <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="user"/>
                    <input id="id_password" name="password" type="password" class="form-control" placeholder="password"/>

                    <input id="login_btn" type="submit" value="login" class="btn btn-success"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>                
            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>   

    {% if form.errors %}
    <h1 class="alncenter text-danger bg-danger">login error - try again!</h1>
    {% endif %}

    <h1></h1>

    <div>
        <div class="panel-group col-xs-6" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Introduction
                        </a>
                        <a href="javascript:loadVideo('kpUKQE4KNYc');"><span class="btn-float-right">(<span class="glyphicon glyphicon-play"></span> 03:15)</span></a>                        
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        This pos is a web application, connecting businesses together to form statistic data that help owner in making better business decision. Your data is more secure and you can access them online. I have addressed some concern such as privacy,competition, and internet disconnection.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Future release
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul>
                            <li>network suggestion of a list of profitable products to carry</li>
                            <li>inventory control</li>
                            <li>automatic purchase order</li>      
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Manual
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul>
                            <li>product management <a href="javascript:loadVideo('kpUKQE4KNYc');"><span> (<span class="glyphicon glyphicon-play"></span>1:43)</span></a>
                            <!-- <li><a href="javascript:loadVideo('kpUKQE4KNYc');">product management<span class="btn-float-right">(<span class="glyphicon glyphicon-play"></span>1:43)</span></a> -->
                                <ul>
                                    <li>create - duplicate from</a></li>
                                    <li>edit main info</a></li>
                                    <li>edit kit</li>
                                    <li>edit group</li>    
                                    <li>edit sku</li>        
                                </ul>
                            </li>
                            <li><a href="javascript:loadVideo('UMmYPvmkbA8');">pos page</a>
                                <ul>
                                    <li>intro - db-init,qty,search</a></li>
                                    <li>shortcut - noninventory - by group</a></li>
                                    <li>saleable dialog</a></li>
                                    <li>mix and match</a></li>
                                    <li>hold</a></li>
                                    <li>tender - change tender</li>
                                    <li>offline product</li>
                                </ul>
                            </li>
                            <li>report</a>
                                <ul>
                                    <li>receipt</a></li>
                                    <li>sale</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:loadVideo('UMmYPvmkbA8');">tax</a></li>
                            <li><a href="javascript:loadVideo('UMmYPvmkbA8');">group management</a></li>
                            <li><a href="javascript:loadVideo('RlpPsQaH2GQ');">mix match deal</a></li>    
                            <li><a href="javascript:loadVideo('RlpPsQaH2GQ');">network suggestion when sku is not found</a></li>        
                            <li><a href="javascript:loadVideo('UMmYPvmkbA8');">payment type</a></li>
                            <li><a href="javascript:loadVideo('RlpPsQaH2GQ');">sale sale shortcut</a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6" id="ytplayer"></div>
        <div class="clear"></div>
    </div>            

    <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: '390',
                width: '640',
                videoId: null/*'M7lc1UVf-VE'*/
            });
        }
        function loadVideo(id) {
            if(!player)return;
            player.loadVideoById(id);
        }          
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>
