<html>
<head>
    <title>
        Welcome to Pos Connect
    </title>
</head>
<body>
    
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input id="login_btn" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

<!--     <div id="ytplayer"></div>
    <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: '390',
                width: '640',
                videoId: 'M7lc1UVf-VE'
            });
        }
        function loadVideo(id) {
            if(!player)return;
            player.loadVideoById(id);
        }          
    </script>

    <ul>
        <li><a href="javascript:loadVideo('kpUKQE4KNYc');">tenis</a></li>
        <li><a href="javascript:loadVideo('UMmYPvmkbA8');">b</a></li>
        <li><a href="javascript:loadVideo('RlpPsQaH2GQ');">c</a></li>
    </ul>   -->
</body>
</html>
