<!DOCTYPE html>
<html ng-app="app.productApp">
<head>
    <title>product app</title>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/angular-block-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/share.css">

    <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.js"></script>
    <script src="{{STATIC_URL}}bower_components/angular/angular.js"></script>
    <script src="{{STATIC_URL}}bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="{{STATIC_URL}}bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="{{STATIC_URL}}app.js"></script>

</head>
<body ng-controller="app.productApp.productCtrl">

 
    <h1>pos_connect product app</h1>
    <input type="text" ng-model="name_search_str" ng-enter="name_search(false)"></input>
    <button type="button" ng-click="name_search(false)" class="btn btn-primary">search</button>


    <div ng-hide="sp_lst.length === 0" infinite-scroll="name_search(true)" infinite-scroll-distance='0'>
        {% verbatim sp_table %}        
        <table id='product_tbl' class="table table-hover table-bordered table-condensed table-striped">
            <tr>
                <th class="info" ng-click="column_click('name')">product <span ng-class="get_sort_class('name')"></span></th>
                <th class="info" ng-click="column_click('price')">price <span ng-class="get_sort_class('price')"></span></th>
                <th class="info" ng-click="column_click('crv')">crv <span ng-class="get_sort_class('crv')"></span></th>
                <th class="info" ng-click="column_click('is_taxable')">taxable <span ng-class="get_sort_class('is_taxable')"></span></th>
                <th class="info"
                    ng-click="column_click('is_sale_report')" 
                    ng-show="$root.GLOBAL_SETTING.STORE.display_is_report">report <span ng-class="get_sort_class('is_sale_report')"></span></th>
                <th class="info"
                    ng-click="column_click('p_type')"
                    ng-show="$root.GLOBAL_SETTING.STORE.display_type">type <span ng-class="get_sort_class('p_type')"></span></th>
                <th class="info"
                    ng-click="column_click('p_tag')"
                    ng-show="$root.GLOBAL_SETTING.STORE.display_tag">tag <span ng-class="get_sort_class('p_tag')"></span></th>
                <th class="info"
                    ng-click="column_click('get_group_count()')"
                    ng-show="$root.GLOBAL_SETTING.STORE.display_group">group <span ng-class="get_sort_class('get_group_count()')"></span></th>
                <th ng-show="$root.GLOBAL_SETTING.STORE.display_deal">deal</th>
                <th class="info"
                    ng-click="column_click('vendor')"
                    ng-show="$root.GLOBAL_SETTING.STORE.display_vendor">vendor <span ng-class="get_sort_class('vendor')"></span></th>
                <th class="info" ng-click="column_click('cost')">cost <span ng-class="get_sort_class('cost')"></span></th>
                <th class="info" ng-click="column_click('get_markup()')">markup <span ng-class="get_sort_class('get_markup()')"></span></th>                
                <th class="info" 
                    ng-click="column_click('buydown')"
                    ng-show="$root.GLOBAL_SETTING.STORE.display_buydown">buydown <span ng-class="get_sort_class('buydown')"></span></th>
                <th class="info" 
                    ng-click="column_click('vc_price')"
                    ng-show="$root.GLOBAL_SETTING.STORE.display_vc_price">vc_price <span ng-class="get_sort_class('vc_price')"></span></th>
                <th class="info" 
                    ng-click="column_click('cur_stock')"
                    ng-show="$root.GLOBAL_SETTING.STORE.display_stock">stock <span ng-class="get_sort_class('cur_stock')"></span></th>
                <th>info</th>                
            </tr>    
            <tr ng-repeat="sp in sp_lst|orderBy:cur_sort_column:cur_sort_desc|filter:local_filter">
                <td>{{sp.name}}</td>
                <td class="alnright">{{sp.price | currency}}</td>
                <td class="alnright">{{sp.get_crv()|currency|not_show_zero}}</td>
                <td class="alncenter"><span class="glyphicon" ng-class="sp.is_taxable ? 'glyphicon-check' : 'glyphicon-unchecked' "></span></td>
                <td class="alncenter"
                    ng-show="$root.GLOBAL_SETTING.STORE.display_is_report"><span class="glyphicon" ng-class="sp.is_sale_report ? 'glyphicon-check' : 'glyphicon-unchecked' "></span></td>
                <td ng-show="$root.GLOBAL_SETTING.STORE.display_type">{{sp.p_type}}</td>
                <td ng-show="$root.GLOBAL_SETTING.STORE.display_tag">{{sp.p_tag}}</td>
                <td class="alnright" ng-show="$root.GLOBAL_SETTING.STORE.display_group">{{sp.get_group_count()|not_show_zero}}</td>
                <td class="alncenter" ng-show="$root.GLOBAL_SETTING.STORE.display_deal"><span class="glyphicon" ng-class="is_in_deal(sp) ? 'glyphicon-check' : 'glyphicon-unchecked' "></span></td>
                <td ng-show="$root.GLOBAL_SETTING.STORE.display_vendor">{{sp.vendor}}</td>
                <td class="alnright">{{sp.get_cost()|currency|not_show_zero}}</td>
                <td class="alnright"><span ng-show="sp.get_markup()!==null && sp.get_markup()!==undefined">{{sp.get_markup()}}%</span></td>                
                <td class="alnright" ng-show="$root.GLOBAL_SETTING.STORE.display_buydown">{{sp.get_buydown()|currency|not_show_zero}}</td>
                <td class="alnright" ng-show="$root.GLOBAL_SETTING.STORE.display_vc_price">{{sp.value_customer_price|currency|not_show_zero}}</td>
                <td class="alnright" ng-show="$root.GLOBAL_SETTING.STORE.display_stock">{{sp.cur_stock}}</td>
                <td class="alncenter"><button ng-click="display_product_info(sp)" class="btn btn-sm btn-primary glyphicon glyphicon-info-sign"></button></td>
            </tr>
        </table>
        {% endverbatim sp_table%}         
    </div>

    <script type="text/javascript">
        var _GLOBAL_SETTING_ = {}
        _GLOBAL_SETTING_.STATIC_URL                 = "{{STATIC_URL}}";
        _GLOBAL_SETTING_.IS_OFFLINE                 = "{{IS_OFFLINE}}";
        _GLOBAL_SETTING_.STORE_ID                   = Number("{{STORE_ID}}");
        _GLOBAL_SETTING_.TAX_RATE                   = {{TAX_RATE}};
        _GLOBAL_SETTING_.COUCH_SERVER_URL           = "{{COUCH_SERVER_URL}}";
        _GLOBAL_SETTING_.STORE_DB_PREFIX            = "{{STORE_DB_PREFIX}}";
        _GLOBAL_SETTING_.MIX_MATCH_LST              = {{MIX_MATCH_LST|safe}};
        _GLOBAL_SETTING_.PAYMENT_TYPE_LST           = {{PAYMENT_TYPE_LST|safe}};
        _GLOBAL_SETTING_.SHORTCUT_LST               = {{SHORTCUT_LST|safe}};
        _GLOBAL_SETTING_.SHORTCUT_ROW_COUNT         = {{SHORTCUT_ROW_COUNT}};
        _GLOBAL_SETTING_.SHORTCUT_COLUMN_COUNT      = {{SHORTCUT_COLUMN_COUNT}};
        _GLOBAL_SETTING_.STORE_PRODUCT_DOCUMENT_TYPE= "{{STORE_PRODUCT_DOCUMENT_TYPE}}";
        _GLOBAL_SETTING_.RECEIPT_DOCUMENT_TYPE      = "{{RECEIPT_DOCUMENT_TYPE}}";
        _GLOBAL_SETTING_.STORE                      = {{STORE|safe}};
    </script>
</body>
</html>