{% load staticfiles %}

<html>
    <head>
        <title>pos connect</title>
     </head>

    <body>

        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/share.css">

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#product-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="product-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <div class="navbar-form navbar-left" role="search">
                            <input id="scan_text" onClick="this.select();"  placeholder="sku" autofocus>
                            <button id="product_search_btn" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <button id="non_inventory_btn" class="btn btn-primary">
                                <span class="glyphicon">non inventory</span>
                            </button>
                            <button id="void_btn" class="btn btn-warning">
                                <span class="glyphicon">void</span>
                            </button>
                            <button id="total_button" class="btn btn-success btn-lg">
                                <span class="glyphicon"> </span>
                            </button>                            
                        </div>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">setting <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id='tax_menu'><a href='#'>tax</a></li>
                                <li id='group_menu'><a href='#'>group</a></li>                 
                                <li id='sale_shortcut_menu'><a href='#'>shortcut</a></li>
                                <li id='mix_match_menu'><a href='#'>mix match</a></li>
                                <li id='payment_type_menu'><a href='#'>payment type</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">report <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id='sale_report_menu'><a href='#'>sale report</a></li>
                                <li id='non_sale_report_menu'><a href='#'>non-sale report</a></li>
                                <li class="divider"></li>
                                <li id='receipt_report_menu'><a href='#'>receipt</a></li>
                            </ul>
                        </li>   
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">action <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id='push_receipt_menu'><a href='#'>push receipt</a></li>
                                <li id='save_to_hold_menu'><a href='#'>hold - ctrl+h</a></li>
                                <li id='get_from_hold_menu'><a href='#'>get hold - ctrl+g</a></li>  
                                <li id='toggle_value_customer_price_menu'><a href='#'>value customer price - F5</a></li>                 
                            </ul>
                        </li>                    
                        <li> <a href='{% url "liquor_logout_named_url" %}'>{{ request.session.cur_login_store }} - {{ user }} - logout</a> </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="col-sm-6">
            <table id = "sale_table" class="table table-hover table-bordered table-condensed table-striped"></table>
        </div>
        <div class="col-sm-6">
            <table id = "sale_shortcut_tbl" class="table table-bordered sale_shortcut_tbl"></table>
        </div>

        <script type="text/javascript">
            var STATIC_URL = "{{STATIC_URL}}"
            var STORE_ID = Number("{{store_id}}")
            var COUCH_SERVER_URL = "{{couch_server_url}}"
            var ROW_COUNT = {{ROW_COUNT}}
            var COLUMN_COUNT = {{COLUMN_COUNT}}
            var MY_SHORTCUT_LST = {{shortcut_lst|safe}};
            var MY_MM_LST = {{mix_match_lst|safe}};
            var MY_PAYMENT_TYPE_LST = {{payment_type_lst|safe}};
            localStorage.setItem('tax_rate',Number("{{tax_rate}}"));
        </script>
        <!-- // <script data-main = "{{ STATIC_URL }}js/app/sale/sale_entry.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script> -->
        <script data-main = "{{ STATIC_URL }}js/app/sale/sale_entry__min__.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>
    </body>
</html>

