<!DOCTYPE html>
<html>
<head>
    <title>pos connect </title>

</head>
<body ng-controller="Sale_page_ctrl">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ng-table.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/share.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/angular-block-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/hotkeys.css">

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#product-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="product-navbar-collapse">
                <ul class="nav navbar-nav">
                    <div class="navbar-form navbar-left" role="search">
                        <input 
                            type="text" 
                            id='sale_app/main_page/scan_txt' 
                            class="form-control" 
                            placeholder="sku" 
                            onClick="this.select();"
                            ng-enter="sku_scan()"
                            ng-model="sku_search_str"                            
                        >
                        <button 
                            id="sale_app/main_page/search_btn" 
                            ng-click="search()" 
                            type="button" 
                            class="btn btn-primary navbar-btn glyphicon glyphicon-search">
                        </button>    
                        <button 
                            id="sale_app/main_page/non_inventory_btn" 
                            ng-click="non_inventory()" 
                            type="button" 
                            class="btn btn-primary navbar-btn glyphicon">none inv
                        </button>                           
                        <button 
                            id="sale_app/main_page/void_btn" 
                            ng-click="void()" 
                            type="button" 
                            class="btn btn-warning navbar-btn glyphicon">void
                        </button>     
                    </div>
                </ul>
                <ul ng-controller="controller.menu" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="sale_app/menu/setting" href="#" class="dropdown-toggle" data-toggle="dropdown">setting <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="sale_app/menu/setting/tax" ng-click="menu_tax_edit()"><a href='#'>tax</a></li>
                            <li id="sale_app/menu/setting/group" ng-click="menu_group_manage()"><a href='#'>group</a></li>                 
                            <li id="sale_app/menu/setting/shortcut" ng-click="menu_shortcut_manage()"><a href='#'>shortcut</a></li>
                            <li id="sale_app/menu/setting/mix_match" ng-click="menu_mix_match_manage()"><a href='#'>mix match</a></li>
                            <li id="sale_app/menu/setting/payment_type" ng-click="menu_payment_type_manage()"><a href='#'>payment type</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">report <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id='sale_report_menu'><a href='#'>sale report</a></li>
                            <li id='non_sale_report_menu'><a href='#'>non-sale report</a></li>
                            <li class="divider"></li>
                            <li ng-click="menu_receipt_report()"><a href='#'>receipt</a></li>
                        </ul>
                    </li>   
                    <li class="dropdown">
                        <a id="sale_app/menu/action" href="#" class="dropdown-toggle" data-toggle="dropdown">action <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id='push_receipt_menu'><a href='#'>push receipt</a></li>
                            <li id='sale_app/menu/action/hold' ng-click="hold()"><a href='#'>hold - ctrl+h</a></li>
                            <li id='sale_app/menu/action/get_hold' ng-click="get_hold_ui()"><a href='#'>get hold - ctrl+g</a></li>  
                            <li id='sale_app/menu/action/toogle_value_customer_price' ng-click="toogle_value_customer_price()"><a href='#'>toogle value customer price - F5</a></li>                 
                        </ul>
                    </li>                    
                    <li> <a id="logout_link" href='{% url "liquor_logout_named_url" %}'>{{ request.session.cur_login_store }} - {{ user }} - logout</a> </li>
                </ul>   
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>        

    <div>
    {% verbatim %}        
        <div class="col-sm-6">
            <table id='sale_app/scan_tbl' class="table table-hover table-bordered table-condensed table-striped">
                <tr>
                    <th>qty</th>
                    <th>product</th>            
                    <th>price</th>
                    <th>deal</th>                    
                    <th>remove</th>
                </tr>
                <tr ng-repeat="ds in ds_lst">
                    <td ng-click="edit_qty(ds)">{{ds.qty}}</td>
                    <td ng-click="edit_sp(ds)">{{ds.get_name()}}</td>
                    <td ng-click="show_detail_price(ds)" class="alnright">{{ds.get_total_discount_price(GLOBAL_SETTING.tax_rate)|currency}}</td>
                    <td>{{ds.mm_deal_info.mm_deal.name}}</td>                    
                    <td><button ng-click="remove_ds(ds)" class="btn btn-danger glyphicon glyphicon-trash"></button></td>
                </tr>
            </table>
            <button 
                ng-hide="ds_lst.length == 0"
                id="sale_app/main_page/tender_btn" 
                type="button" 
                class="btn btn-primary btn-lg">{{get_tender_amount()|currency}}
            </button>                
        </div>
        <div class="col-sm-6">
            <table class="table table-bordered table-condensed sale_shortcut_tbl">
                <tr ng-repeat="row_usage in row_lst">
                    <td ng-class="current_parent_pos==row_usage?'warning':'success'" ng-click="set_cur_parent_position(row_usage)"> {{get_parent_caption(true,row_usage)}} </td>
                    <td ng-repeat="col in col_lst" ng-click="exe_shortcut_child(row_usage,col)"> {{get_child_caption_of_cur_parent(row_usage,col)}} </td>
                    <td 
                        ng-class="current_parent_pos==row_usage+row_count?'warning':'success'" 
                        ng-click="set_cur_parent_position(row_usage+row_count)"> 
                            {{get_parent_caption(false,row_usage)}} 
                    </td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
        {{ds_lst}}
    {% endverbatim %}         
    </div>

    <script type="text/javascript">
        var STATIC_URL                      = "{{STATIC_URL}}"
        window._STORE_ID_                   = Number("{{STORE_ID_}}")
        window._TAX_RATE_                   = {{TAX_RATE_}};
        window._COUCH_SERVER_URL_           = "{{COUCH_SERVER_URL_}}"
        window._STORE_DB_PREFIX_            = "{{STORE_DB_PREFIX_}}";
        window._MIX_MATCH_LST_              = {{MIX_MATCH_LST_|safe}};
        window._PAYMENT_TYPE_LST_           = {{PAYMENT_TYPE_LST_|safe}};
        window._SHORTCUT_LST_               = {{SHORTCUT_LST_|safe}};
        window._SHORTCUT_ROW_COUNT_         = {{SHORTCUT_ROW_COUNT_}};
        window._SHORTCUT_COLUMN_COUNT_      = {{SHORTCUT_COLUMN_COUNT_}};
        window._STORE_PRODUCT_DOCUMENT_TYPE_= "{{STORE_PRODUCT_DOCUMENT_TYPE}}";
    </script>

    <script data-main = "{{ STATIC_URL }}js/app/sale_app/config.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>
</body>
</html>



