<!DOCTYPE html>
<html>
<head>
    <title>pos connect </title>

</head>
<body ng-controller="MainCtrl">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ng-table.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/share.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/angular-block-ui.css">
    
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#product-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="product-navbar-collapse">
                <ul class="nav navbar-nav">
                    <div class="navbar-form navbar-left" role="search">
                        <input 
                            type="text" 
                            id='sku_txt' 
                            class="form-control" 
                            placeholder="sku" 
                            onClick="this.select();"
                            ng-enter="sku_search()"
                            ng-model="sku_search_str"                            
                        >
                        <input 
                            type="text" 
                            id='name_txt'
                            class="form-control" 
                            placeholder="name" 
                            onClick="this.select();" 
                            ng-enter="name_search()"
                            ng-model="name_search_str"
                        >
                    </div>
                </ul>
                
                <ul ng-controller="controller.menu" class="nav navbar-nav navbar-right">
                    <div class="navbar-form navbar-left" role="search">
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="local filter" 
                            onClick="this.select();" 
                            ng-model="$parent.local_filter"
                        >                        
                    </div>  
                    <li class="dropdown">
                        <a id="sp_app/menu/setting" href="#" class="dropdown-toggle" data-toggle="dropdown">setting <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="sp_app/menu/setting/tax" ng-click="menu_tax_edit()"><a href='#'>tax</a></li>
                            <li id="sp_app/menu/setting/group" ng-click="menu_group_manage()"><a href='#'>group</a></li>                 
                            <li id="sp_app/menu/setting/shortcut" ng-click="menu_shortcut_manage()"><a href='#'>shortcut</a></li>
                            <li id="sp_app/menu/setting/mix_match" ng-click="menu_mix_match_manage()"><a href='#'>mix match</a></li>
                            <li id="sp_app/menu/setting/payment_type" ng-click="menu_payment_type_manage()"><a href='#'>payment type</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="sp_app/menu/report" href="#" class="dropdown-toggle" data-toggle="dropdown">report <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id='sale_report_menu'><a href='#'>sale report</a></li>
                            <li id='non_sale_report_menu'><a href='#'>non-sale report</a></li>
                            <li class="divider"></li>
                            <li id="sp_app/menu/report/receipt" ng-click="menu_receipt_report()"><a href='#'>receipt</a></li>
                        </ul>
                    </li>   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">action <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="{% url 'sale:index_angular' %}" target="_blank">lauch pos</a></li> -->
                            <li ng-click="launch_pos()"><a href="#">lauch pos</a></li>
                        </ul>
                    </li>                      
                    <li> <a id="logout_link" href='{% url "liquor_logout_named_url" %}'>{{ request.session.cur_login_store }} - {{ user }} - logout</a> </li>
                </ul>   

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>        

    <div ng-hide="sp_lst.length == 0">
        {% verbatim sp_table %}        
        <table id='product_tbl' class="table table-hover table-bordered table-condensed table-striped">
            <tr>
                <th class="info" ng-click="column_click('name')">product <span ng-class="get_sort_class('name')"></span></th>
                <th class="info" ng-click="column_click('price')">price <span ng-class="get_sort_class('price')"></span></th>
                <th class="info" ng-click="column_click('crv')">crv <span ng-class="get_sort_class('crv')"></span></th>
                <th class="info" ng-click="column_click('is_taxable')">taxable <span ng-class="get_sort_class('is_taxable')"></span></th>
                <th class="info" ng-click="column_click('is_sale_report')">report <span ng-class="get_sort_class('is_sale_report')"></span></th>
                <th class="info" ng-click="column_click('p_type')">type <span ng-class="get_sort_class('p_type')"></span></th>
                <th class="info" ng-click="column_click('p_tag')">tag <span ng-class="get_sort_class('p_tag')"></span></th>
                <th class="info" ng-click="column_click('vendor')">vendor <span ng-class="get_sort_class('vendor')"></span></th>
                <th class="info" ng-click="column_click('cost')">cost <span ng-class="get_sort_class('cost')"></span></th>
                <th class="info" ng-click="column_click('buydown')">buydown <span ng-class="get_sort_class('buydown')"></span></th>
                <th class="info" ng-click="column_click('vc_price')">vc_price <span ng-class="get_sort_class('vc_price')"></span></th>
                <th>info</th>                
            </tr>    
            <tr ng-repeat="sp in sp_lst | orderBy:cur_sort_column:cur_sort_desc | filter:local_filter">
                <td>{{sp.name}}</td>
                <td class="alnright">{{sp.price | currency}}</td>
                <td class="alnright">{{sp.get_crv()|currency|not_show_zero}}</td>
                <td class="alncenter"><span ng-class="sp.is_taxable ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove' "></span></td>
                <td class="alncenter"><span ng-class="sp.is_sale_report ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove' "></span></td>
                <td>{{sp.p_type}}</td>
                <td>{{sp.p_tag}}</td>
                <td>{{sp.vendor}}</td>
                <td class="alnright">{{sp.get_cost()|currency|not_show_zero}}</td>
                <td class="alnright">{{sp.get_buydown()|currency|not_show_zero}}</td>
                <td class="alnright">{{sp.value_customer_price|currency|not_show_zero}}</td>
                <td><button ng-click="display_product_info(sp)" class="btn btn-sm btn-primary glyphicon glyphicon-info-sign"></button></td>
            </tr>
        </table>
        {{sp_lst}}
        {% endverbatim sp_table%}         
    </div>

    <script type="text/javascript">
        var STATIC_URL                      = "{{STATIC_URL}}"
        window._STORE_ID_                   = Number("{{STORE_ID_}}")
        window._TAX_RATE_                   = {{TAX_RATE_}};
        window._COUCH_SERVER_URL_           = "{{COUCH_SERVER_URL_}}"
        window._STORE_DB_PREFIX_            = "{{STORE_DB_PREFIX_}}";
        window._MIX_MATCH_LST_              = {{MIX_MATCH_LST_|safe}};
        window._PAYMENT_TYPE_LST_           = {{PAYMENT_TYPE_LST_|safe}};
        window._SHORTCUT_LST_               = {{SHORTCUT_LST_|safe}};
        window._SHORTCUT_ROW_COUNT_         = {{SHORTCUT_ROW_COUNT_}};
        window._SHORTCUT_COLUMN_COUNT_      = {{SHORTCUT_COLUMN_COUNT_}};
        window._STORE_PRODUCT_DOCUMENT_TYPE_= "{{STORE_PRODUCT_DOCUMENT_TYPE}}";
        window._RECEIPT_DOCUMENT_TYPE_      = "{{RECEIPT_DOCUMENT_TYPE}}";


    </script>

    <script data-main = "{{ STATIC_URL }}js/app/sp_app/config.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>
</body>
</html>