html,body {
  margin: 0 auto;
  padding: 0 auto;
  color: #4d4d4d;
  width: 1100px;
}

#wrap{
  margin: 0 auto;
  background: #99a;
  width: 1100px;
}

#header{
  background: #99b;
}

#scan{
  float: left;
  width: 550px;
  background: #9f9;
}

#shortcut{
  float: right;
  width: 550px;
  background: #FFFFFF;
}

#footer{
  clear:both;
  background: #19e;
}

#store_product_prompt_dialog{display: None;}
#select_product_option_dialog{display: None;}
#sku_management_dialog{display: None;}
#non_inventory_prompt_dialog{display: None;}
#product_search_dlg{display: None;}

.parent_selected {background-color:#CFF5B5;}
.parent_unselected {background-color:#FFFFFF;}

/* ------------------------------------------------- */

.error {border: solid 2px #FF0000;}
td { min-width: 100px; height: 30}